.section_presentation{
    &-image{
        font-family:$font-body;
        background: center url("../images/image-presentation.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        & .row{
            height: 500px;
            @media screen and (max-width: 767.98px){
                height: 300px;
            }
            & .fs-md-3{
                @media screen and (min-width: 767.98px){
                    font-size: calc(1.3rem + 0.6vw) !important;
                }
            }
            & .marg-bottom{
                background: $primarytransparent;
                // @media screen and (min-width: 767.98px) and (max-width: 927.97){
                //     margin-bottom: 265px !important;
                // };
                // @media screen and (min-width: 927.98px){
                //     margin-bottom: 295px !important;
                // };
            }
        };
        & .text-rotate{
            transform: rotate(-15deg);
        };
    };
    &-text{
        font-family:$font-body;
        background-color: $primarytransparent;
    }
};